.Project_Data{
    display: flex;
    margin: 1rem;
}

.LeftSide {
    margin-left: 1px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border-right: 1px solid lightgray;
    border-radius: 5px;
}

.Project_Data {
    display: flex;
    justify-content: center;
}

.RightSide {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.projectM {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.scrollable {
    height: 100px;
    resize: none;
    overflow-y: auto;
}
