:root {
    /* Primary Color */
    --primary-color: #4054d8;
    --primary-light-color-1: rgb(87, 101, 207);
    --primary-light-color-2: #545fdd;
    --primary-light-color-3: #767cec;
    --primary-light-color-4: #8b8dff;
    --primary-light-color-5: #aaacff;
    --primary-dark-color-1: #2d3b96;
    --primary-dark-color-2: #293488;
    --primary-dark-color-3: #1b2270;
    --primary-dark-color-4: #111650;
    --primary-dark-color-5: #0f1346;

    /* Header Color */
    --header-bg-color: var(--primary-dark-color-5);
    --header-bg-light-color: var(--primary-dark-color-3);
    --header-default-link-color: white;
    --header-active-link-color: var(--primary-light-color-5);

  
    /* Side Color */
    --sidebar-bg-color: #c1c9fa89;
    --sidebar-text-color: #333333;
    --sidebar-selected-color: #D4DAFD;

    /* Task dragging */
    --task-dragging-color: #dcdcfa ;

    /* status dragging over */
    --status-dragging-over-color: #dadbff;


    /* Accent Colors */
    --accent-color-1: #7580A3;
    --accent-color-2: #8B92B9;
    --accent-color-3: #A5AFC2;
    --accent-color-4: #BCBFCB;

    /* Background Colors */
    --background-color-light: #E6EAF8;
    --background-color-light-1: #D9DBF1;
    --background-color-light-2: #C2C7EE;
    --background-color-dark: #1E255C;
    --background-color-dark-1: #111648;
    --background-color-dark-2: #090B33;

    /* Text Colors */
    --text-color-light: #FFFFFF;
    --text-color-dark: #333333;

    /* Button Colors */
    --button-bg-color: var(--primary-light-color);
    --button-text-color: #FFFFFF;

    /* Border Color */
    --border-color: var(--primary-dark-color-5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin: 0;
    padding: 0;
    letter-spacing: 0.7px;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--primary-light-color-4);
}

::-webkit-scrollbar-track{
    background-color: var(--accent-color-4);
}

a {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.MuiAvatar-root.MuiAvatar-circular{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
}

.MuiAvatar-root:hover{
    cursor: pointer;
    z-index: 4;
}