:root{
    --primary-color: #2A3580;
    --primary-light-color: #3c4ba8;
    --primary-dark-color: #1d1d7a;
    --header-bg-color: #d4dafd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}
