.status {
    width: 10rem;
    flex: 0 0 30%;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 10px;
}

.task-list {
    min-height: 100px;
}

.status h3 {
    margin-top: 0;
    margin-bottom: 10px;
}