.status {
    width: 18rem;
    background-color: #f4f5f7;
    border-radius: 8px;
    padding: 8px;
    transition: transform 0.3s ease-in-out;
}

.status.draggingover{
    background-color: var(--status-dragging-over-color);

}

.status-header {
    padding: 8px;
}

.status-header h3 {
    font-size: 1.03rem;
    font-family: "Lexend Deca";
}

.status.isDraggingOver {
    transform: rotate(2deg);
}

.task-list {
    min-height: 420px;
    height:420px;
    overflow-y: auto;
    padding-right: .8rem; 
}
