.project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.project-container .project-header{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-container .project-body{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

}

.project-container table{
    width: 100%;
    border-collapse: collapse;
}


.project-container table caption{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.project-container table th{
    background-color: var(--header-bg-color);
    color: var(--primary-dark-color);
    padding: 10px;
    text-align: left;
}

.project-container table td{
    padding: 10px;
    border-bottom: 1px solid var(--primary-light-color);
}

.project-container table tr:hover{
    background-color: #efe;
}

.project-container table tr td:last-child{
    display: flex;
    justify-content: space-between;
}
